.btn-xlarge {
  width: 90px;
  height: 90px;
  padding: 14px;
  border-radius: 60px;
  font-size: 40px;
  line-height: 1.33;
}
.list-inline {
  white-space:nowrap;
}
.list-inline.scroll {
  overflow-x: scroll;
  overflow-y: hidden;
  width: 100%;
}
.vertical-align {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}
.full-width-tabs > ul.nav.nav-tabs {
    display: table;
    width: 100%;
    table-layout: fixed;
}
.full-width-tabs > ul.nav.nav-tabs > li {
    float: none;
    display: table-cell;
}
.full-width-tabs > ul.nav.nav-tabs > li > a {
    text-align: center;
}
.take-all-space {
    width:100%;
}
.col-p-1 {
  padding-right:2px;
  padding-left:2px;
  padding-bottom: 3px;
}
.btn-block {
  height:100%;
}
.panel-body {
  background-color: #384041;
}
.nav-tabs {
  border-bottom: none;
}
.btn-gray {
  background-color: #4F5659;
  border-color: #4F5659;
}
.btn-gray:hover{
  color: white;
}
.panel-primary>.panel-heading+.panel-collapse>.panel-body {
  border-top-color: #23CB8E;
}
.navbar-center {
  float: center!important;
  margin-right: -15px;
}
