/* Only demo */
@media (max-width: 1000px) {
  .welcome-message {
    display: none;
  }
}

.full-width-tabs > ul.nav.nav-tabs {
    display: table;
    width: 100%;
    table-layout: fixed;
}

.full-width-tabs > ul.nav.nav-tabs > li {
    float: none;
    display: table-cell;
}

.full-width-tabs > ul.nav.nav-tabs > li > a {
    text-align: center;
}

.take-all-space {
    width:100%;
}

.col-p-1 {
  padding-right:2px;
  padding-left:2px;
  padding-bottom: 3px;
}

.gray-img {
  background-image: url("../images/gray.png");
  background-repeat: repeat-x;
  background-color: white;
}

.navbar-center {
  float: center!important;
  margin-right: -15px;
  visibility: hidden;
}

.vertical-align {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.ibox-content.white {
  background-color: white;
  -webkit-box-shadow: 0px 2px 35px -2px rgba(73,83,85,0.71);
  -moz-box-shadow: 0px 2px 35px -2px rgba(73,83,85,0.71);
  box-shadow: 0px 2px 35px -2px rgba(73,83,85,0.71);
}
.ibox-content label {
  color: #969EA0;
}
.ibox-content input {
  color: #969EA0;
}
