<div class="panel panel-default">
  <div class="panel-heading">
    <div style="color: blue; text-align: left;">
      <strong style="color: #143861">Allianz</strong>
      <img src="images/allianz.png" width="30" height="30">
    </div>
  </div>
  <div class="panel-body" style="text-align: left;">
    <p style="color: #3E4546">
      Allianz
    </p>
    <p style="color: #384041">
      <strong>Private Haftpflicht</strong>
    </p>
  </div>
  <div class="panel-footer" style="background-color: white;">
    <dl class="dl-horizontal no-margins">
      <dt style="color: #A9A9A9">Monatliche ausgaben:</dt>
      <dd style="color: #4DCD6D;">10.00 EUR</dd>
    </dl>
  </div>
</div>
