<div class="wrapper wrapper-content animated fadeInRight">
  <div class="row">
    <div class="col-lg-12">
      <button class="btn btn-success btn-block btn-lg" type="button" ui-sref="index.upload_file">
        <i class="fa fa-upload fa-5x pull-right" style="vertical-align: middle;"></i>Police Hochladen / fotografieren
      </button>
      <button class="btn btn-success btn-block btn-lg" type="button">
        <i class="fa fa-server fa-5x pull-right"></i>Vertrag manuell anlegen
      </button>
    </div>
  </div>
</div>
