<ajax></ajax>

<div id="dashboard" class="wrapper wrapper-content animated fadeInRight">
  <div class="row">
    <div class="col-lg-12 m-b-md">
      <ul class="list-inline scroll" style="text-align: center;">
        <li ng-repeat="avatar in avatars">
          <a href="#">
            <img alt="image" class="img-circle resize-img" ng-src="{{avatar}}" width="100" height="100">
          </a>
        </li>
        <li>
          <button class="btn btn-primary btn-circle btn-xxl" type="button">
            <i class="fa fa-plus"></i>
          </button>
        </li>
      </ul>
    </div>
  </div>
  <div class="row">

      <div id="accordion" class="panel-group">

        <div class="panel panel-primary">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a aria-expanded="false" class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse-info">Actions</a>
            </h4>
          </div>
          <div id="collapse-info" class="panel-collapse collapse in" aria-expanded="false">
            <div class="panel-body">

              <div class="tabbable full-width-tabs">
                <ul class="nav nav-tabs">
                  <li class="active take-all-space">
                    <a aria-expanded="true" data-toggle="tab" ng-href="index.dashboard#tab-hab">Was hab ich?</a>
                  </li>
                  <li class="take-all-space">
                    <a aria-expanded="false" data-toggle="tab" ng-href="index.dashboard#tab-bra">Was brauch ich?</a>
                  </li>
                </ul>
              </div>

              <div class="panel-body" style="padding: 5px;">
                <div class="tab-content">

                  <div id="tab-hab" class="tab-pane active">
                    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-2 col-p-1" ng-repeat="btn in groupBtnTab1" style= "height: 100px;">
                      <button class="btn btn-{{btn.type}} btn-block eye-content" type="button" ui-sref="{{btn.url}}">
                        <i class="fa fa-eye fa-1x" ng-if="btn.eye"></i>
                        <i class="fa {{btn.icon}} fa-3x"></i>
                        <br><span class="hidden-xs">{{btn.label}}</span>
                      </button>
                    </div>
                  </div>

                  <div id="tab-bra" class="tab-pane">
                    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-2 col-p-1" ng-repeat="btn in groupBtnTab2" style= "height: 100px;">
                      <button class="btn btn-{{btn.type}} btn-block eye-content" type="button" ui-sref="{{btn.url}}">
                        <i class="fa fa-eye fa-1x" ng-if="btn.eye"></i>
                        <i class="fa {{btn.icon}} fa-3x"></i>
                        <br><span class="hidden-xs">{{btn.label}}</span>
                      </button>
                    </div>
                  </div>

                </div>
              </div>

            </div>
          </div>
        </div>

        <div class="panel panel-primary">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a aria-expanded="false" class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse-report">Report</a>
            </h4>
          </div>
          <div id="collapse-report" class="panel-collapse collapse" aria-expanded="false">
            <div class="panel-body" style="padding: 5px;">
              <div class="flot-chart">
                <flot dataset="graph.data" options="graph.options"></flot>
              </div>
            </div>
          </div>
        </div>

      </div>

  </div>
</div>
