<style>
body {
    background-color: white;
    color: #333637;
    overflow: auto !important;
}
</style>
<div class="animated fadeIn text-center">
    <div class="landing-img">
        <div class="carousel-caption">
            <h1 class="lg"><strong>Ordnung,<br/>Transparenz<br/>Sicherheit</strong></h1>
            <h2>in Deinen Versicherungen</h2>
            <p class="m-t-lg"><button class="btn btn-lg btn-primary">Funktionen</button></p>
        </div>
        <!-- Set background for slide in css -->
        <div class="header-back"></div>
    </div>
    <div class="row m-b-xxl m-t-xl">
        <div class="col-xs-12 col-md-12 col-lg-12">
            <h2>
                <strong>Mit OKOTTA! kannst Du alle deine Versicherungen online<br>managen</strong>
                <div class="m-b-md"></div>
                <small>Ganz einfach und so sicher, wie beim Online-Banking</small>
            </h2>
        </div>
    </div>
    <div class="m-b-xxl">
        <h2>
            <strong>Du willst Dich nicht mit dem Papierkram<br/>deiner Versicherungen ärgern?</strong>
            <div class="m-b-md"></div>
            <small>
                Alles ordentlich abgelegt wissen, perfekt sortiert, alles an eimen Platz, nichts mehr suchen,<br>
                Nichts mehr verlieren und Zugriff haben wo und wann Du es brauchst? OKOTTA! verwalted und<br>
                legt deine Versicherungsverträge, -dokumente und Briefe intelligent und mit System für Dich ab<br>
                - Mehr noch, OKOTTA! liefert Dir das Know-How zu entscheiden, ob du richtig abgesichert bist.
            </small>
        </h2>
    </div>
    <div class="row m-b-xxl">
        <div class="col-xs-12 col-md-12 col-lg-12">
            <img src="images/landing_devices.png" class="img-responsive center-block">
        </div>
    </div>
    <div class="m-b-xxl">
        <h2>
            <strong>Durchblick und Transparenz im<br/>Versicherungsdschungel.<br/></strong>
            <div class="m-b-md"></div>
            <small>
                OKOTTA! verschafft Dir an einer Stelle Durchblick und Transparenz fur alle<br>
                deine Versicherungen. Du erhaltst die Kontrolle uber deine Ausgaben und<br>
                deinen Versicherungsschutz, alles auf einen Blick. OKOTTA! hilft Dir bei der<br>
                Verwaltung und zeigt Dir wie und wo Du wo Beiträge sparen kannst
            </small>
        </h2>
    </div>
    <div class="row m-b-xxl">
        <div class="col-xs-12 col-md-12 col-lg-12">
            <img src="images/landing_devices_2.png" class="img-responsive center-block">
        </div>
    </div>
    <div class="m-b-xxl">
        <div class="row">
            <div class="col-xs-offset-1 col-xs-4 col-xs-offset-1 col-xs-4 col-md-offset-1 col-md-4 col-lg-offset-1 col-lg-4">
                <img src="images/ipad.png" class="img-responsive">
            </div>
            <div class="col-xs-6 col-xs-6 col-md-6 col-lg-6">
                <h2 class="text-left" style="padding-left: 20px;">
                    <strong>Weg mit dem ganzen Papierkram.</strong>
                    <div class="m-b-lg"></div>
                    <small>
                        OKOTTA! sortiert und verwaltet Deine Verträge für Dich. Wir<br>
                        Stellen Dir die ganze Korrespondenz, Mitteilungen &amp;<br>
                        Informationen zu Deinen Versicherungen digital zur<br>
                        Verfügung.
                    </small>
                </h2>
            </div>
        </div>
    </div>
    <div class="m-b-xxl">
        <div class="row">
            <div class="col-xs-offset-1 col-xs-4 col-md-offset-1 col-md-4 col-lg-offset-1 col-lg-4">
                <h2 class="text-left" style="padding-left: 20px;">
                    <strong>Wir sind für dich da.</strong>
                    <div class="m-b-lg"></div>
                    <small>
                        Egal ob du einen Schaden melden möchtest oder Fragen zu<br>
                        deinen Vertragen hast, bei OKOTTA! wird Dir immer geholfen.<br>
                        Direkt, immer und überall - garantiert!<br>
                    </small>
                </h2>
            </div>
            <div class="col-xs-6 col-md-6 col-lg-6">
                <img src="images/messages.png" class="img-responsive">
            </div>
        </div>
    </div>
    <div class="m-b-xxl">
        <div class="row">
            <div class="col-xs-offset-1 col-xs-4 col-md-offset-1 col-md-4 col-lg-offset-1 col-lg-4">
                <img src="images/wizzard.png" class="img-responsive">
            </div>
            <div class="col-xs-6 col-md-6 col-lg-6">
                <h2 class="text-left" style="padding-left: 20px;">
                    <strong>Immer ein gutes Gefühl.</strong>
                    <div class="m-b-lg"></div>
                    <small>
                        OKATTA! gibt Dir den Überblick zu Deinen<br>
                        Versicherungsschutz und hilft Dir diesen aktiv zu managen.<br>
                        Niemehr irgendwelche Fristen verpassen, Du bekommst<br>
                        Erinnerungen, Tipps und wichtigen Hinweise rund um Deinen<br>
                        Versicherungsschutz.
                    </small>
                </h2>
            </div>
        </div>
    </div>
    <div class="m-b-xxl">
        <div class="row">
            <div class="col-xs-offset-1 col-xs-4 col-md-offset-1 col-md-4 col-lg-offset-1 col-lg-4">
                <h2 class="text-left" style="padding-left: 20px;">
                    <strong>Von Experten empfohlen.</strong>
                    <div class="m-b-lg"></div>
                    <small>
                        Die Richtlinien, nach denen OKOTTA! deine Verträge<br>
                        verwaltet und nach denen wir Dir Empfehlungen<br>
                        aussprechen, sind DIN zertifiziert und werden vom<br>
                        Verbraucherschutz und Stiftung Warentest unterstützt.
                    </small>
                </h2>
            </div>
            <div class="col-xs-6 col-md-6 col-lg-6">
                <img src="images/lock.png" class="img-responsive">
            </div>
        </div>
    </div>
    <div class="m-b-xxl">
        <div class="row">
            <div class="col-xs-offset-1 col-xs-4 col-md-offset-1 col-md-4 col-lg-offset-1 col-lg-4">
                <img src="images/medal.png" class="img-responsive">
            </div>
            <div class="col-xs-6 col-md-6 col-lg-6">
                <h2 class="text-left" style="padding-left: 20px;">
                    <strong>Unabhängigkeit.</strong>
                    <div class="m-b-lg"></div>
                    <small>
                        OKATTA! ist unabhängig und arbeitet mit allen relevanten<br>
                        Versicherungsgesellschaften zusammen. Wo du deine<br>
                        Verträge hast entscheidest alleine Du. An deinen<br>
                        Versicherungsverträgen oder Beitragen ändert sich für Dich<br>
                        Nichts - auber wenn Du es möchtest
                    </small>
                </h2>
            </div>
        </div>
    </div>
    <div class="m-b-xxl">
        <div class="row">
            <div class="col-xs-offset-1 col-xs-4 col-md-offset-1 col-md-4 col-lg-offset-1 col-lg-4">
                <h2 class="text-left" style="padding-left: 20px;">
                    <strong>Wir sind für dich da.</strong>
                    <div class="m-b-lg"></div>
                    <small>
                        Egal ob du einen Schaden melden möchtest oder Fragen zu<br>
                        deinen Vertragen hast, bei OKOTTA! wird Dir immer geholfen.<br>
                        Direkt, immer und überall - garantiert!<br>
                    </small>
                </h2>
            </div>
            <div class="col-xs-6 col-md-6 col-lg-6">
                <img src="images/time.png" class="img-responsive">
            </div>
        </div>
    </div>
    <div class="m-b-xxl">
        <div class="row">
            <div class="col-xs-6 col-md-6 col-lg-6">
                <h2>
                    <strong>Keine Verpflichtungen.</strong>
                </h2>
                <div class="m-b-lg"></div>
                <p>
                    OKOTTA! ist kostenlos. Keine versteckten Kosten<br>
                    oder in APP kaufe. Es gibt bei OKOTTA! keine Vertrag - oder<br>
                    Kündigungsfristen. Du hast die Kontrolle, jederzeit!
                </p>
            </div>
            <div class="col-xs-6 col-md-6 col-lg-6">
                <h2>
                    <strong>Kein Verkauf</strong>
                </h2>
                <div class="m-b-lg"></div>
                <p>
                    OKOTTA! finanziert sich über Verwaltungsbeiträge der<br>
                    Versicherungsgesellschaften. Deshalb muss OKOTTA! Dir nichts<br>
                    verkaufen und Du bekommst bei uns nur das, was Du wirklich<br>
                    Willst!
                </p>
            </div>
        </div>
    </div>
    <div class="row gray-bg">
        <div class="col-lg-12">
            <h1 class="white m-t-xxl">
                Nur noch ein Ansprechpartner und eine APP<br>
                <small class="white">
                    für alle deine Versicherungsverträge, egal bei welcher Gesellschaft.
                </small>
            </h1>
            <br>
            <p class="m-b-xxl">
                <button class="btn btn-lg btn-primary" ui-sref="register">Kostenlos anmelden</button>
            </p>
        </div>
    </div>
</div>
