<div class="wrapper wrapper-content animated fadeInRight">
  <div class="row">

    <div class="col-lg-12">
      <carousel interval="5000">
      <slide ng-repeat="slide in slides" active="slide.active">
        <img ng-src="{{slide.image}}" style="margin:auto; margin-top: 5%;">
        <div class="carousel-caption">
        </div>
      </slide>
    </carousel>
    </div>

    <div class="col-lg-12">

      <div class="tabbable full-width-tabs">
        <ul class="nav nav-tabs">
          <li class="active take-all-space">
            <a aria-expanded="true" data-toggle="tab" ng-href="index.tile_detail#tab-papers">Dokumente</a>
          </li>
          <li class="take-all-space">
            <a aria-expanded="false" data-toggle="tab" ng-href="index.tile_detail#tab-features">Eigenschaften</a>
          </li>
          <li class="take-all-space">
            <a aria-expanded="false" data-toggle="tab" ng-href="index.tile_detail#tab-news">Nachrichten</a>
          </li>
        </ul>
      </div>

      <div class="panel-body" style="padding: 5px;">
        <div class="tab-content">

          <div id="tab-papers" class="tab-pane active">
            <div class="panel panel-gray">
              <div class="panel-body">
                <div class="row">
                  <div ng-repeat="item in uploader.queue">
                    <div class="col-xs-10 col-md-10 col-lg-10">
                      <span ng-bind="item.file.name"></span>
                    </div>
                    <div class="col-xs-2 col-md-2 col-lg-2">
                      <button class="btn btn-success pull-right" ng-click="item.upload()">upload</button>
                    </div>
                  </div>
                </div>
              </div>
              <div class="panel-footer">
                <span class="btn btn-success btn-file btn-lg btn-block">
                  <i class="fa fa-plus"></i> Dokument Auswählen
                  <input type="file" nv-file-select uploader="uploader"/>
                </span>
              </div>
            </div>

          </div>

          <div id="tab-features" class="tab-pane">
            <form class="form-horizontal m-t-lg">

              <div class="form-group">
                <label class="col-lg-3">Versicherungsnehmer</label>
              </div>

              <div class="form-group">
                <label class="col-lg-3">Ich</label>
                <div class="col-lg-9">
                  <checkbox class="btn-primary pull-right" ng-model="registration.terms"></checkbox>
                </div>
              </div>

              <div class="form-group">
                <label class="col-lg-3">Versicherte Personen</label>
              </div>

              <div class="form-group">
                <label class="col-lg-3">Ich</label>
                <div class="col-lg-9">
                  <checkbox class="btn-primary pull-right" ng-model="registration.terms"></checkbox>
                </div>
              </div>

              <div class="form-group">
                <label class="col-lg-3">Versicherungssumme</label>
              </div>

            </form>
          </div>

          <div id="tab-news" class="tab-pane">
            <div class="panel panel-gray">
              <div class="panel-body" style="padding: 0px;">
                <div class="chat-discussion">
                  <div class="chat-message" ng-repeat="msg in messages">
                    <img class="message-avatar" src="images/a1b.png" alt="">
                    <div class="message">
                      <a class="message-author" href="#">{{msg.author}}</a>
                      <span class="message-date">{{msg.date|date:'medium'}}</span>
                      <span class="message-content">{{msg.content}}</span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="panel-footer">
                <div class="input-group">
                  <input type="text" class="form-control" placeholder="Verfasse eine Nachricht..." ng-model="newMsg">
                  <span class="input-group-btn">
                    <button class="btn btn-default" type="button" ng-click="addMsg()">
                      <i class="fa fa-envelope-o"></i>
                    </button>
                  </span>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>

    </div>
  </div>
</div>
