<nav class="navbar-default navbar-static-side" role="navigation">
  <div class="sidebar-collapse">
    <ul side-navigation class="nav" id="side-menu">

      <li ui-sref-active="active">
        <a ui-sref="index.profile">
          <i class="fa fa-user"></i>
          <span class="nav-label">Profil</span>
        </a>
      </li>

      <li ui-sref-active="active">
        <a ui-sref="#">
          <i class="fa fa-cog"></i>
          <span class="nav-label">Einstellungen</span>
        </a>
      </li>

      <li ui-sref-active="active">
        <a ui-sref="#">
          <i class="fa fa-file-text"></i>
          <span class="nav-label">Berichte</span>
        </a>
      </li>

      <li ui-sref-active="active">
        <a ui-sref="#">
          <i class="fa fa-sign-out"></i>
          <span class="nav-label">Logout</span>
        </a>
      </li>

    </ul>
  </div>
</nav>
