<div class="row border-bottom">
  <nav class="navbar navbar-static-top" role="navigation">

    <ul class="nav navbar-top-links navbar-left">
      <li>
        <button href="" class="btn btn-transparent navbar-btn" type="button" style="color: white;" snap-toggle="left">
          <i class="fa fa-bars fa-2x"></i>
        </button>
      </li>
      <li>
        <button href="" class="btn btn-transparent navbar-btn" ui-sref="index.dashboard" stype="button" style="color: white;">
          <i class="fa fa-folder fa-2x"></i>
        </button>
      </li>
    </ul>

    <ul class="nav navbar-top-links navbar-right">
      <li>
        <button href="" class="btn btn-danger navbar-btn" type="button">
          <i class="fa fa-warning"></i>
          <span>Schadensmeldung</span>
        </button>
      </li>
      <li class="hidden-xs">
        <button href="" class="btn btn-transparent navbar-btn" type="button" style="color: white;">
          <i class="fa fa-phone fa-2x"></i>
        </button>
      </li>
      <li>
        <button href="" class="btn btn-transparent navbar-btn" type="button" snap-toggle="right"style="color: white;">
          <i class="fa fa-question fa-2x"></i>
        </button>
      </li>
    </ul>

  </nav>
</div>
